/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    position: fixed;
    width: 25%;
    right: 10px;
    top: 10px;
}

#two {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    position: fixed;
    width: 25%;
    right: 50px;
    top: 50px;
}

#three {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: orange;
    border-width: 5px;
    position: fixed;
    width: 25%;
    left: 5px;
    top: 5px;
}

#four {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    position: fixed;
    width: 25%;
    left: 5px;
    bottom: 5px;
}
